household_power_consumption.txt
.Rproj.user/DA6172E6/pcs/files-pane.pper
*.pper
.Rproj.user/DA6172E6/persistent-state
.Rproj.user/DA6172E6/saved_source_markers
.Rproj.user/DA6172E6/sdb/prop/2BFEFA33
.Rproj.user/DA6172E6/sdb/prop/61DC3C9D
.Rproj.user/DA6172E6/sdb/prop/AEBCB2E5
.Rproj.user/DA6172E6/sdb/prop/C2089F9C
.Rproj.user/DA6172E6/sdb/prop/E61C73EC
.Rproj.user/DA6172E6/sdb/prop/INDEX
.Rproj.user/DA6172E6/sdb/s-BA96F15A/1D9C50B6
.Rproj.user/DA6172E6/sdb/s-BA96F15A/3243B6B8
.Rproj.user/DA6172E6/sdb/s-BA96F15A/5338448B
.Rproj.user/DA6172E6/sdb/s-BA96F15A/7743639B
*.Rproj
.Rproj.user/DA6172E6/sdb/s-BA96F15A/lock_file
.Rproj.user/DA6172E6/sdb/s-BA96F15A/ACB2E5FC
.Rproj.user/DA6172E6/sdb/s-BA96F15A/95F5089F
README.html